/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html{
  font-family: "PT Sans","Roboto","sans-serif";
  background-color:#f8f8fa;
}

#content-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer{
    background-color: #ef6c00 !important;
}
.input-field .prefix.active {
    color: white;
}

.event-name {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   line-height: 1.75rem;        /* fallback */
   max-height: 5.25rem;
}
.orange{
  background-color:#ef6c00 !important;
}

.sbmt-btn{
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    color: #fff;
    background-color: #0093D7;
    width: auto;
    height: auto;
    border: 0;
    padding: 11px 20px;
    text-align: center;

    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.collapsible-header.active i {
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
}

.collapsible-header {
  height: 60px;
  vertical-align: middle;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.7;
}
.link-event:hover{
    text-decoration:underline;
    color: #ef6c00 !important;
}
.event-date{
  /* font-family: "Roboto","Lato"; */
  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color: #45494E;
font-size: 16px;
/* line-height: 18px; */
height: 1.5em;
text-transform: uppercase;
letter-spacing: 1px;
}
.collapsible-header .left {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 150px);
  overflow: hidden;
}

.collapsible-header .right{
    color : gray;
    font-size: 15px;
    margin-top: 2px
}
.hide-on-med-and-down a{
    font-size: 16px;
}
.collapsible-header i:hover{
  background-color: #e2781f;
  border-radius: 10px;
}

.description-event{
  font-size:14px;
  /*height: 10px;
  */display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flow-text{
  font-size: 15px;
}
.collapsible-header .right{
  font-size: 14px;
}

span.right{
  line-height : 200%;
  vertical-align: text-bottom;
  margin-bottom:10px;
}

.collapsible-header .flow-text{
  line-height: 110%;
  vertical-align: text-bottom;
  margin-bottom:30px;
}

.blue-grey.darken-1{
  background-color: #b25305 !important;
}

#map_wrapper {
    height: 650px;
}

#map_canvas {
    width: 80%;
    height: 100%;
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

nav .brand-logo {
  margin-left: 20px;
}
nav form {
  margin-left: 100px;
  margin-right:50px;
}
./*input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field[type=email]:valid {

}*/

/* label focus color */
 .input-field input:focus + label {
   color: white !important;
 }
 /* label underline focus color */
 .input-field input:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 0px 0 0 white !important;
}
.row {
  margin-bottom: 15px;
}
.input-field{
  margin-top:0px;
}
.orange-text{
  color: #ef6c00 !important;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.card-mine {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card-mine:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.thumbs-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tint-div-img{
  position: absolute;
top: 0;
left: 0;
width: 100%;
height:100%;
background-color: rgba(0,0,0,.75);
opacity: 0;
/*transition: all .25s linear;
*/z-index: 2;

}
.div-img{
  cursor:pointer;
  box-shadow: 0 5px 8px 0 rgba(11,58,132,.2), 0 3px 10px 0 rgba(11,58,132,.19);
text-align: center;
margin-bottom: 30px;
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width:100%;
height:400px;
}
.div-img:hover .tint-div-img{
    /* opacity:1; */
}
.card-action a{

}

/* Add some padding inside the card container */
.container-mine {
    padding: 2px 16px;
}
#logo{
  text-transform: uppercase;
}
#search-submit{
  display:none;
}
#topbarsearch .input-field .prefix {
            width:0rem !important;
}

#topbarsearch nav ul li:hover, nav ul li.active {
                background-color: none !important;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
            margin-left: 3rem !important;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
