<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Free Food Findings</title>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="orange darken-3">
        <div class="nav-wrapper">
          <a href="{{url_for('home')}}" class="brand-logo" id="logo"><span style = "color: black">University</span> Food Finder</a>
            <ul class="hide-on-med-and-down right">
                <li>
                   <div class="center row">
                      <div class="col s12 " >
                        <div class="row" id="topbarsearch">
                          <div class="input-field col s6 s12 white-text">
                            <form action="{{url_for('search')}}" method="get">
                             <i class="white-text material-icons prefix">search</i>
                                 <input type="text" name="keywords" placeholder="search" class="white-text">
                                 <input type="submit" value="Submit" style="display:none;">
                             </form>
                            </div>
                          </div>
                        </div>
                      </div>
              </li>
              <li><a href="{{url_for('home')}}" class="white-text" style="">ALL EVENTS</a></li>
              <li><a href="{{url_for('all_orgs')}}" class="white-text" style="">ORGANIZATIONS</a></li>
              <li><a href="{{url_for('map')}}" class="white-text" style="margin-right:150px">MAP</a></li>
        </ul>
    </div>
  </nav>


  <div class="container">
    <div class="section">
        {{error}}
        <div class="row">
            {% for o in orgs %}
          <div class="col s6 m6">
            <div class="card white">
              <div class="card-content black-text">
                <span class="card-title">{{ o.name }}</span>
                <p>{{ o.location }}</p>
              </div>
              <div class="card-action">
                <a href="{{url_for('org',org_name=o.name)}}" class = "orange-text text-darken-2">See all events hosted by {{ o.name }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who are we</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Want to add an event?</h5>
          <a href="{{url_for('add_event')}}"class="white black-text center waves-effect waves-light btn">Sumbit an event!</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 HackTX
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="/static/js/jquery-3.2.1.min.js.css"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
